<h1>this is the search page</h1>
 
  
  <%= collection_select(:instrument, :instrument_id, Instrument.all, :id, :instrument_type) %>
  

  
  <%= collection_select(:person, :person_id, Person.select(:location).uniq, :id, :location ) %>
  

  <div class="results">
  </div>