<div class="search">
<h2>Search for a Musician</h2>
 
<%= form_tag  %>

<%=text_field_tag (:q) %>

<%= submit_tag 'Search', class: "search-submit" %>
</div>
<div class="results">
  <div class="name"> </div>
</div>
